@model ActionCommandGame.Model.Player;

<h1>Login</h1>

<p>Login here</p>

<form method="post">
    <label asp-for="@Model.Name"></label>
    <input type="text" asp-for="@Model.Name" name="username" value=""/>
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
        
    <label asp-for="@Model.Password"></label>
    <input type="text" asp-for="@Model.Password" name="password" value=""/>
    <span asp-validation-for="@Model.Password" class="text-danger"></span>
        
    <button type="submit" asp-action="Login">Login</button>
</form>