@model ActionCommandGame.Ui.WebApp.ViewModels.PlayerViewModel;

<h1>Register</h1>

<p>Register your account here</p>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input type="text" asp-for="@Model.Name" name="name" value=""/>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="@Model.Password"></label>
    <input type="password" asp-for="@Model.Password" name="password" value=""/>
    <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    
    <input type="submit" asp-action="Register" value="Register" />
</form>