@model ActionCommandGame.Ui.WebApp.ViewModels.ItemsShopViewModel;

<h1 style="margin-bottom: 30px;">Welcome to the shop!</h1>
<h5>Your current balance: @Model.CurrentPlayer.Money €</h5>

<h3 style="margin-top: 30px;">Fuel</h3>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    @foreach (var item in Model.AllItems)
    {
        if (item.Fuel != 0 && item.Name != "GOD MODE" && item.Name != "Developer Food")
        {
            <form method="post">
                <div style="max-width: 200px; border-radius: 5px; border-style: solid; border-color: black;
                    padding: 10px; margin: 10px;">
                    <p style="font-weight: bold">@item.Name</p>
                    <p>@item.Description</p>
                    <p>Fuel: @item.Fuel</p>
                    <p>Cooldown seconds: @item.ActionCooldownSeconds sec</p>
                    <p>Price: €@item.Price</p>
                    <input type="hidden" value="@item.Id" asp-for="ItemId" />
                    <input type="hidden" value="@Model.CurrentPlayer.Id" asp-for="CurrentPlayerId" />
                    <input type="submit" class="btn btn-primary" value="Buy" />
                </div>
            </form>
        }
    }
</div>

<h3 style="margin-top: 30px;">Snowboards</h3>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    @foreach (var item in Model.AllItems)
    {
        if (item.Attack != 0 && item.Name != "GOD MODE" && item.Name != "Developer Food")
        {
            <form method="post">
            <div style="max-width: 200px; border-radius: 5px; border-style: solid; border-color: black;
    padding: 10px; margin: 10px;">
                <p style="font-weight: bold">@item.Name</p>
                <p>@item.Description</p>
                <p>Attack: @item.Attack</p>
                <p>Price: @item.Price €</p>
                    <input type="hidden" value="@item.Id" asp-for="ItemId" />
                    <input type="hidden" value="@Model.CurrentPlayer.Id" asp-for="CurrentPlayerId" />
                    <input type="submit" class="btn btn-primary" value="Buy" />
            </div>
            </form>
        }
    }
</div>

<h3 style="margin-top: 30px;">Snowboard Gear</h3>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    @foreach (var item in Model.AllItems)
    {
        if (item.Defense != 0 && item.Name != "GOD MODE" && item.Name != "Developer Food")
        {
            <form method="post">
                <div style="max-width: 200px; border-radius: 5px; border-style: solid; border-color: black;
    padding: 10px; margin: 10px;">
                    <p style="font-weight: bold">@item.Name</p>
                    <p>@item.Description</p>
                    <p>Defense: @item.Defense</p>
                    <p>Price: @item.Price €</p>
                    <input type="hidden" value="@item.Id" asp-for="ItemId" />
                    <input type="hidden" value="@Model.CurrentPlayer.Id" asp-for="CurrentPlayerId" />
                    <input type="submit" class="btn btn-primary" value="Buy" />
                </div>
            </form>
        }
    }
</div>

<h3 style="margin-top: 30px;">Other</h3>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    @foreach (var item in Model.AllItems)
    {
        if (item.Fuel == 0 && item.Attack == 0 && item.Defense == 0)
        {
            <form method="post">
            <div style="max-width: 200px; border-radius: 5px; border-style: solid; border-color: black;
    padding: 10px; margin: 10px;">
                <p style="font-weight: bold">@item.Name</p>
                <p>@item.Description</p>
                <p>Price: @item.Price €</p>
                    <input type="hidden" value="@item.Id" asp-for="ItemId" />
                    <input type="hidden" value="@Model.CurrentPlayer.Id" asp-for="CurrentPlayerId" />
                    <input type="submit" class="btn btn-primary" value="Buy" />
            </div>
            </form>
        }
    }
</div>